{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security')}}
		</div>
	{% endif %}
	
	<form class="container" method="post">
		<label for="username">Nom d'utilisateur</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required"/>
		<label for="password">Mot de passe</label>
		<div class="input-group">
			<input type="password" id="user_password" name="_password" class="form-control" required="required"/>
			<span role="button" class="input-group-text" onclick="togglePassword()">
				<i class="bi bi-eye" id="eye"></i>
				<i class="bi bi-eye-slash d-none" id="eye-slash"></i>
			</span>
		</div>
		<input type="hidden" name="_target_path" value="/">
		<input type="submit" value="Connexion" class="btn btn-success mt-2">
	</form>
	<a href="/user/new" class="btn btn-link">Créer un compte</a>
{% endblock %}
